<div class="banner" style="background-image: url('<%= image_path "mary-rebecca-elliott-233485-unsplash.jpg" %>')">
  <h1>Cocktails</h1>
</div>
  <div class="container" >
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-3">
        <div class="card-cocktail my-5">
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          <p><%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: {:confirm =>
            "Are you sure you want to delete this cocktail?"} %> </p>
          </div>
        </div>
       <% end %>
    </div>
    <%= link_to 'Mix a Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>



