<div class="container">
  <h1><%=@cocktail.name%></h1>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

 <% @cocktail.doses.each do |dose| %>
  <p><%= dose.description  %> <%= dose.ingredient.name %> | <%= link_to 'Delete', dose_path(dose), method: :delete  %></p>
 <% end %>


<p><%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail)%></p>
<p><%= link_to 'Back', cocktails_path  %></p>
</div>

