<h1>Add a new dose to your <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f|%>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
  <%= f.submit %>
<% end  %>
